*,
::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: papayawhip;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    padding: 30px;
    box-shadow: 0 0 10px #010101;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
}
button{
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    background-color: transparent;
    color: #f1f1f1;
    cursor: pointer;
}
h3{
    text-align: center;
    padding: 10px;
}

.subs{
    background-color: red;
    margin: 20px;
}

.add{
    background-color: blue;
    margin: 20px;
}